{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="row">
    <div class="span8">
      <h1>{{ activity.title }}</h1>
      <div class="row">
        <div class="span3">
          <ul style="list-style:none;">
            <li>
              <span style='color:red;text-decoration:line-through'>
                <span style='color:#000000;'>市场价：{{ activity.currency }}{{ activity.market_cost }}</span>
              </span>
            </li>
            <li><span>途客价：{{ activity.currency }}{{ activity.cost }}</span></li>
            <li><span>节省：{{ activity.currency }}{{ 50 }}</span></li>
            <li><a class="btn btn-primary btn-large" href="#">立即预订！</a></li>
          </ul>
        </div>
        <div class="span5">
          <p>{{ activity.description }}</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="hero-unit">
        <p>发布者：{{ activity.author.username }}</p>
        <p>个人简介: {{ activity.author.get_profile.bio }}</p>

      </div>

    </div>
  </div>

{% endblock %}