{% extends "base.html" %}
{% load i18n %}
{% load general_filters %}
{% block content %}
  <div class="row">
    <div class="span8">
      <div class="page-header">
        <h1>{{ activity.title }} <br/><small>{{ activity.start.date.isoformat }} ~ {{ activity.end.date.isoformat }}</small></h1>
      </div>
      <div class="row">
        <div class="span3">
          <ul style="list-style:none;">
            <li><div class="well-large">
              {% if role == 1 %}
                {{ orders|length }}人已报名
              {% elif role == 2 %}
                您已报名 <a class="btn btn-primary" href="{% url order_detail order.pk %}">立即支付</a>
              {% elif role == 3 %}
                您已缴费 <a class="btn btn-primary" href="#">出行前准备</a>
              {% else %}
                <form action="{% url order_create activity.pk %}" method="post">{% csrf_token %}
                  <input type="submit" class="btn btn-primary btn-large" value="{{ activity.currency }}{{ activity.cost }}/人" />
                </form>
              {% endif %}
            </div></li>
            <li>报名截止：{{ deadline }}</li>
            <li>原价：
              <span style='color:red;text-decoration:line-through'>
                <span style='color:#000000;'>{{ activity.currency }}{{ activity.market_cost }}</span>
              </span>
            </li>
            <li>还有{{ open_seats }}个位置</li>
          </ul>
        </div>
        <div class="span5">
          <img src="{{ cover }}" width="400" />
        </div>
      </div>

      <div class="activity-desc">
        <img src="{{ profile.avatar.get_full_url }}" width="50" height="50" />
        <blockquote><p>{{ activity.description }}</p></blockquote>
      </div>

      <dl class="dl-horizontal">

        <dt>难易程度</dt>
        <dd>{{ activity.physical_level }}</dd>

        <dt>类型</dt>
        <dd>
          {% for c in categories %}
            <a href="#" target="_blank">{{ c }}</a>
          {% endfor %}
        </dd>

        <dt>行程安排</dt>
        <dd>
          <pre>{{ activity.activity_info }}</pre>
        </dd>
        <dt>地图</dt>
        <dd><img src="{{ activity.map.get_full_url }}" class="float-left" /></dd>

        <dt>费用说明</dt>
        <dd><pre>{{ activity.cost_description }}</pre></dd>
        <dt>注意事项</dt>
        <dd><pre>{{ activity.required }}</pre></dd>

      </dl>
    </div>
    <div class="span4">
      <div class="hero-unit">
        <a href="{% url user_detail profile.user_id %}"><img src="{{ profile.get_avatar }}" /></a>
        <p>发布者：{{ profile.user.get_full_name }}</p>
        <blockquote><p>{{ profile.philosophy }}</p></blockquote>

      </div>
      <div>
        <h2>预订详情</h2>
        <ul>
          {% for o in orders %}
            <li><a href="{% url user_detail o.author_id %}">{{ o.author.get_full_name }}</a>于{{ o.created_date|format_date }}下单</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}