{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ profile.user.get_full_name }}的档案{% endblock %}
{% block css %}
<style type="text/css">
  div.profile .profile-content {
    width: 419px;
  }
  .profile #profile-bevel {
    opacity: 0.75;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";/*ie8*/
    filter: alpha(opacity=75);/*ie7*/
  }
  .profile div.profile-head h1.name {
    font-family: english-small-caps-1,english-small-caps-2, "proxima-nova-1", "proxima-nova-2", Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 60px;
    color: #000000;
  }
  .profile div.profile-head h2.headline {
    font-family: proxima-nova-1,proxima-nova-2, "proxima-nova-1", "proxima-nova-2", Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 21px;
    color: #000000;
  }
  .profile div.profile_photo {
    padding-top: 4.0px;
  }
  .profile div.bio {
    font-family: proxima-nova-1,proxima-nova-2, "proxima-nova-1", "proxima-nova-2", Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    color: #000000;
  }
  .profile div.bio a {
    color: #000000;
  }
  .profile ul.tags {
    color: #000000;
  }
  .profile ul.tags a {
    color: #000000;
  }
  .profile div.services {
    color: #000000;
  }
  .profile ul.links {
    font-family: proxima-nova-1,proxima-nova-2, "proxima-nova-1", "proxima-nova-2", Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 12px;
  }
  .profile ul.links a {
    color: #000000;
  }

  body.profilepage {
    background-color: #000000;
  }
    /* } *//*end desktop media query*/
  .profilepage .background-container {
    background-image: url({{ background }});
  }

</style>
{% endblock %}
{% block bodyattr %}class="profilepage"{% endblock %}
{% block content %}
<div class="background-container" style="width:100%; height: 1000px;">

</div>
<div class="hero-unit">
  <img src="{{ profile.get_avatar }}" />
  <p>{{ profile.fullname }}</p>
  <p>{{ profile.bio }}</p>
</div>
<div class="row">
  <div class="span4">
    <h2>发布的活动</h2>
    <ul>
      {% for activity in activities %}
        <li><a href="{% url activity_detail activity.pk %}">{{ activity.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="span4">
    <h2>参加的活动</h2>
    <ul>
      {% for order in orders %}
        <li><a href="{% url activity_detail order.activity.pk %}">{{ order.activity.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="span4">
    <h2>最近的评价</h2>
  </div>
</div>


{% endblock %}