{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ profile.user.get_full_name }}的档案{% endblock %}
{% block css %}
<style type="text/css">
  {{ template_info.style }}
</style>
{% endblock %}
{% block bodyattr %}class="profilepage"{% endblock %}
{% block content %}
<div class="background-container" style="width:100%; height: 1000px;">

</div>
<div class="hero-unit">
  <img src="{{ profile.get_avatar }}" />
  <p>{{ profile.fullname }}</p>
  <p>{{ profile.bio }}</p>
</div>
<div class="row">
  <div class="span4">
    <h2>发布的活动</h2>
    <ul>
      {% for activity in activities %}
        <li><a href="{% url activity_detail activity.pk %}">{{ activity.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="span4">
    <h2>参加的活动</h2>
    <ul>
      {% for order in orders %}
        <li><a href="{% url activity_detail order.activity.pk %}">{{ order.activity.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="span4">
    <h2>最近的评价</h2>
  </div>
</div>


{% endblock %}