{% load i18n %}
<!-- ###footer -->
<footer>
<div id="footer" class="pkg">
  <div id="footer-color"></div>
  <div id="footer-inner">
    <div id="footer-inner-left">
      <div id="footer-links">
        <ul>
          <li id="menu-sub-about"><a href="#">{% trans '关于我们' %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
          <li id="menu-sub-blog"><a target="_blank" href="#">{% trans '途客圈杂谈' %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
          <li id="menu-sub-career"><a target="_blank" href="#">{% trans '求贤若渴' %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
          <li id="menu-sub-time-machine"><a href="#">{% trans '时光隧道' %}</a></li>
        </ul>
        <ul>
          <li>友情链接：</li>
          <li><a href="#">爱旅行网</a></li>
          <li><a href="#">乐程旅行网</a></li>
          <li><a href="#">计划FM</a></li>
          <li><a href="#">环球旅讯</a></li>
          <li><a href="#">酒店达人</a></li>
          <li><a href="#">要出发</a></li>
        </ul>
      </div>
      <div id="footer-info">
        <span class="footer-line"></span>
        <div class="footer-tukeq-logo">
          <a href="#"></a>
        </div>
        <div class="footer-iw">
          <a href="#"></a>
        </div>
        <div class="footer-about">
          <span>全部版权归北京途儿汇智科技有限公司所有</span>
          <span>京ICP备11048984号&nbsp;&nbsp;京公网安备110108008069</span>
        </div>
      </div>
    </div>
    <div id="footer-inner-right">
      <div class="tukeq-diandian">
        <a href="#"></a>
        <div class="footer-popover">
          <div class="con">
            <div class="arrow"></div>
            <div class="inner">欢迎关注“途客们的旅行梦”</div>
          </div>
        </div>
      </div>
      <div class="tukeq-sinaweibo">
        <a href="#"></a>
        <div class="footer-popover">
          <div class="con">
            <div class="arrow"></div>
            <div class="inner">欢迎关注途客圈的新浪微博</div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-localizations">
      <!--
      We don't have other localization yet, but we are ambitious to provide at least English version... :)
      -->
    </div>
  </div><!-- end footer-inner-->
</div><!-- end footer -->
</footer>
