<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Bootstrap</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active">
            <a href="#">Overview</a>
          </li>
          <li class="">
            <a href="#">Scaffolding</a>
          </li>
          <li class="">
            <a href="#">Base CSS</a>
          </li>
          <li class="">
            <a href="#">Components</a>
          </li>
          <li class="">
            <a href="#">Javascript plugins</a>
          </li>
          <li class="">
            <a href="#">Using LESS</a>
          </li>
          <li class="divider-vertical"></li>
          <li class="">
            <a href="#">Customize</a>
          </li>
          <li class="">
            <a href="#">Examples</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>