{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="page-header">
    <h1>订单详情<small>{{ order.activity.title }}</small></h1>
  </div>
  <div class="hero-unit">
    <table class="table">
      <thead>
        <tr><td>订单号</td><td>活动名称</td><td>订购数量</td><td>支付金额</td></tr>
      </thead>
      <tr>
        <td>{{ order.order_number }}</td>
        <td><a href="{% url activity_detail order.activity.pk %}">{{ order.activity.title }}</a></td>
        <td>{{ order.total_participants }}</td>
        <td>{{ order.actual_payment }}</td>
      </tr>
    </table>
    {% if not order.payed %}
      <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <input type="submit" value="{% trans "立即支付" %}"/>
      </form>
    {% else %}
      <p>已支付</p>
    {% endif %}
  </div>

{% endblock %}