{% extends 'base.html' %}
{% load staticfiles %}
{% load flatpages %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static "deck/css/deck.core.css" %}">
  <link rel="stylesheet" href="{% static "deck/css/goto/deck.goto.css" %}">
  <link rel="stylesheet" href="{% static "deck/css/menu/deck.menu.css" %}">
  <link rel="stylesheet" href="{% static "deck/css/navigation/deck.navigation.css" %}">
  <link rel="stylesheet" href="{% static "deck/css/status/deck.status.css" %}">
  <link rel="stylesheet" href="{% static "deck/css/hash/deck.hash.css" %}">

  <!-- Theme CSS files (menu swaps these out) -->
  <link rel="stylesheet" id="style-theme-link" href="{% static "deck/css/style/web-2.0.css" %}">
  <link rel="stylesheet" id="transition-theme-link" href="{% static "deck/css/transition/horizontal-slide.css" %}">
{% endblock %}
{% block content %}
  {{ flatpage.content }}
{% endblock %}

{% block script %}
  <script src="{% static "deck/js/core/deck.core.js" %}"></script>
  <script src="{% static "deck/js/extensions/hash/deck.hash.js" %}"></script>
  <script src="{% static "deck/js/extensions/menu/deck.menu.js" %}"></script>
  <script src="{% static "deck/js/extensions/goto/deck.goto.js" %}"></script>
  <script src="{% static "deck/js/extensions/status/deck.status.js" %}"></script>
  <script src="{% static "deck/js/extensions/navigation/deck.navigation.js" %}"></script>
{% endblock %}